development: 
  jetty_path: "/usr/local/jetty"
  solr_data_dir: "/tmp/jetty/solr/solrsan-test-index"
  solr_server_url: "http://localhost:9090/solr"
test:
  jetty_path: "/usr/local/jetty"
  solr_data_dir: "/tmp/jetty/solr/solrsan-test-index"
  solr_server_url: "http://localhost:9090/solr"
production:
  jetty_path: "/usr/local/jetty"
  solr_data_dir: "/data/solr/search-index"
  solr_server_url: "http://localhost:8080/solr"

