defaults: &defaults
  jetty_path: "/Users/tcc/Sites/java/jetty"
  solr_data_dir: "/Users/tcc/src/app_name/solr-index"
  solr_server_url: "http://localhost:9090/solr"
development:
  <<: *defaults
test:
  <<: *defaults
production:
  jetty_path: "/usr/local/jetty"
  solr_data_dir: "/data/solr/search-index"
  solr_server_url: "http://localhost:8080/solr"

